@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

html {
    margin: 0px;
    background-color: antiquewhite;
}

#calculator {
    width: 300px;
    padding: 4px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display {
    background-color: rgb(100, 134, 105);
    color: aliceblue;
    width: auto;
    height: 70px;
    margin: auto;
    padding-right: 4px;
    border-radius: 2px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: end;
    display: flex;
    flex-direction: column;
}

#previousDisp {
    height: 18px;
    font-size: 1rem;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
    padding-top: 4px;
    background-color: #003b62;
}

.key {
    font-family: "Orbitron", sans-serif;
    color: #ffffff !important;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 2px;
    border: 0px;
    background: #1d9aee;
    width: auto;
    text-align: center;
}

.key:active {
    background-color: rgb(33, 33, 156);
}

#equal {
    grid-column: span 2;
    background-color: chocolate;
}

#equal:active {
    background-color: rgb(107, 55, 17);
}

#clear {
    grid-column: span 3;
    background-color: chocolate;
    font-family: "Orbitron", sans-serif;
    color: #ffffff !important;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 25px;
    border-radius: 2px;
}

#clear:active {
    background-color: rgb(107, 55, 17);
}